#navbar-auto {
    width: 180px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding-right: 5px;
    box-shadow: 2px 0 3px #bbb;
    -webkit-box-shadow: 2px 0 3px #bbb;
    overflow: auto;
    background-color: #fff;
    border-right: 2px solid #eee; 
}

#navbar-auto ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 10px;
}


.nav {
    padding-left: 0px;
}

#navbar-auto .nav > li > a {
    padding: 0;
    padding-left: 6px;
}

#navbar-auto li{
    height: 28px; 
}

#navbar-auto li.active a {
    color: #d62728;
    border-left-color: #d62728;
}


#navbar-auto a,
#navbar-auto a:link,
#navbar-auto a:hover,
#navbar-auto a:active,
#navbar-auto a:visited {
    display: block;
    overflow: hidden;
    border-left: 4px solid #fff;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-decoration: none;
    color: #666;
    font: normal normal normal 14px/28px Arial;
}
 
